<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <ol>
        <li>
          Create two new Component manulally or with CLI warningAlert and
          successAlert
        </li>
        <li>Output the beneath each other in the AppComponent</li>
        <li>Output the warining or success message in the component</li>
        <li>style the components appropritately</li>
      </ol>
      <!-- <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert> -->
      <!-- <app-server></app-server> -->
      <app-servers></app-servers>
    </div>
  </div>
</div>
